@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}
  
body {
    background-image: url("yellow-brush-texture.jpg"); 
    background-position: center; 
    background-size: cover;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    justify-content: center;
}

.CONTAINER1 {
    /* display: flex; */
    min-height: 100vh;
    flex-direction: column;
    /* background-image: url("yellow-brush-texture.jpg");  */
    /* background-position: center;  */
    /* background-size: cover;  */
    /* background-repeat: no-repeat;  */
    position: relative;
    padding-top: 30px;
} 


/* NAME LOGO TOP LEFT */

.name1 {
    color: white;
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: 100;
    margin: 20px;
}

/* NAV BAR */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(29,33,200,0.5);
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 60px
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
}

nav ul li a:hover {
    opacity: 0.6;
}

.navbar {
    flex: 1; 
}

.nav_item {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
}

.header #navbar-toggle:checked ~ .menu {
    visibility: visible;
    opacity: 0.99;
  }

/*  SIDEBAR */

.sidebar {
    width: 125px;
    height: 100vh;
    background: rgba(29,33,200,0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.social-links {
    width: 50px;
    display: block;
    margin: 210px auto 0;
    text-align: center;
}

#linkedin > i  {
    margin-bottom: 70px; 
    color: white;
}

#linkedin > i:hover { 
    transform: scale(1.5, 1.5)
}

#github > i {
    margin-bottom: 70px; 
    color: white; 
}

#github > i:hover { 
    transform: scale(1.5, 1.5)
}

#mail > i {
    margin-bottom: 70px;
    margin-left: -5px; 
    color: white;
}

#mail > i:hover { 
    transform: scale(1.5, 1.5)
}

/* Profile photo and box  */
.profile {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 500px;
    margin-top: 90px;
}

.profile img{
    display: flex;
    width: 35%;
    border-radius: 90%;
}



/* LINE COLOR FOR NAV BAR HEADINGS */
:root {
    --mainColor: #ff9800;
}

.text-container {
    /* margin-left: 300px; */
    /* display: flex; */
    /* justify-content: center; */
    width: 800px;
    height: 280px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}
  
.text-container h3{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
}

section {
    width: 50%;
    margin-top: 100px;
    margin-left: 310px;
}

h2 {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 7px;
    color: #000;
    text-decoration: none;

}
/* Python trinket.io box on projects page */

.trinket-container {
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 15%;
    display: inline-block;
}


/* download CV button on home screen */

.download-BTN {
    display: flex;
    margin-left: 0%;
}

/* Button size and color */
.btn {
    background-color: rgb(44, 22, 110);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(86, 79, 139);
}

  